.file1 {
    align-items: center;
    width: 45px;
    height: 18px;
    position: absolute;
    top: 2px;
    text-align: center;
  }
  .file1:hover{
    background-color: #474747;
  }
  .file {
    position: absolute;
    top: 0;
    left: 0px;
    width: 45px;
    height: 17px;
    overflow: hidden;
  }
  .file:hover {
    color: white;
    border-bottom: solid 2px #15539e;
  }