# credentials
.env

# vim
.swp

# compiled output
dist/
node_modules/

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# IDE - VSCode
.vscode/

#prettier
.prettierrc
