@import "../styles.scss";

.leftbar{
    @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 50px;
    height: calc(100vh - 50px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    &::-webkit-scrollbar {
        display: none;
    }
    .container {
        padding-left: 20px;
        hr {
            margin: 10px 0px;
            border: none;
            height: 0.5px;
            background-color: themed("border");
        }
        .menu {
            display: flex;
            flex-direction: column;
            gap: 20px;
            span {
                font-size: 12px;
            }
            .item {
                display: flex;
                align-items: center;
                gap: 10px;
                span {
                    font-size: 14px;
                }
            }
        }
    }
}
}