.letter {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 79px;
  height: 16px;
}

.background {
  background-color: var(--color-darkslategray-100);
  border-right: 0.5px solid var(--color-gray-100);
  border-left: 0.5px solid var(--color-gray-100);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 16px;
}