.addchat {
    .submenu {
        width: 460px;
        background-color: #555555;
        bottom: 40px;
        right: 19px;
        position:fixed;
        border-radius: 0px 10px 10px 10px;
        overflow:auto;
        color: #ddddf7;
        padding: 20px;
        cursor: auto;
        .form {
            display: flex;
            justify-content: space-between;
            p {
                padding: 10px;
            }
            button {
                padding: 10px;
                margin: 20px;
                background-color: #5b5d73;
                color: #ddddf7;
                border-radius: 10px;
                height: 70px;
                cursor: pointer;
                position: sticky;
            }
        }
    }
    .submenu-hidden {
        display: none;
    }
}