.addchat {
    .submenu {
        width: 460px;
        background-color: #2f2d52;
        top: 100px;
        position: absolute;
        border-radius: 10px;
        overflow: hidden;
        color: #ddddf7;
        padding: 20px;
    }
    .submenu-hidden {
        display: none;
    }
}