.chats {
    .noConversations {
        color : white;
        padding: 10px;
    }
    .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: white;
        cursor: pointer;
        &:hover {
            background-color: #2f2d52;
        }
        
        img {
           width: 50px;
           height: 50px; 
           border-radius: 50%;
           object-fit: cover;
        }
        .userChatInfo {
            span {
                font-weight: 500;
            }
            p {
                color: lightgray;
            }
        }
    }
    .userChat-active {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #2f2d52;
        color: white;
        cursor: pointer;
        
        img {
           width: 50px;
           height: 50px; 
           border-radius: 50%;
           object-fit: cover;
        }
        .userChatInfo {
            span {
                font-weight: 500;
            }
            p {
                color: lightgray;
            }
        }
    }
}