.chat {
    flex: 3;
    max-width: 440px;
    .chatInfo {
        height: 50px;
        background-color: #5d5b8d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        color: lightgray;
    }
    .chatIcons {
        display: flex;
        gap: 20px;
        div {
            cursor: pointer;
        }
    }
}