.chatbar {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    color: #ddddf7;
    background-color: #535353;
	width: 250px;
    .icons {
        display: flex;
        gap: 10px;
        cursor: pointer;
    }
}

.chatlogo {
    font-weight: bold;
}
