.numbers {
  position: absolute;
  top: 1px;
  width: 18px;
  height: 8px;
  width: 25px;
  height: 16px;
  text-align: center;
}

.numberGroup7 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 25px;
  height: 13px;
  border-top: 0.5px solid var(--color-gray-100);
  border-bottom: 0.5px solid var(--color-gray-100);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
}

.numberGroupChild
{
  border-top: 0.5px solid var(--color-gray-100);
  border-bottom: 0.5px solid var(--color-gray-100);
  border-right: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  height: 16px;
  width: 25px;
}