.desktop1 {
  width: 0px;
  height: 0px;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-inter);
  position: relative;
  background-color: var(--color-white);
}
